.HeaderLink {
  display: inline-block;
  text-decoration: none;
  padding: var(--size--20) 0.5em;
  border-bottom: 4px solid transparent;

  &.active {
    font-weight: bolder;
    text-decoration: underline;
    border-bottom-color: var(--accent);
  }
}
