:root {
  --light: #fff;
  --dark: #000;
  --accent: #ff00ff;
  --accent-dark: #181720;
  --soft-lavender: #d8d3ed;
  --soft-snow: #ebecee;
  --eggplant: #433c62;

  --site-background: var(--accent-dark);
  --body-copy: var(--soft-lavender);
  --code-background: #38325c;
  --link-color: #59d3ff;

  --radius: var(--size--16);
}
