:root {
  --light: #fff;
  --dark: #000;
  --accent: #ff00ff;
  --accent-dark: #181720;
  --soft-lavender: #d8d3ed;
  --soft-snow: #ebecee;
  --eggplant: #433c62;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);

  --site-background: var(--accent-dark);
  --body-copy: var(--soft-lavender);
  --code-background: #38325c;
  --link-color: #59d3ff;

  --radius: 1rem;
}
