@import "./colors.css";
@import "./vars.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--site-background);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--body-copy);
  font-size: var(--font-size--20);
  line-height: 1.7;
}

:focus {
  outline: 4px solid transparent;
  box-shadow:
    0 0 0 4px var(--accent-dark),
    0 0 0 8px var(--accent);
}

main {
  width: calc(100% - var(--size--32));
  max-width: 960px;
  margin: 0 auto;
  padding: var(--size--16);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0 0 var(--size--8) 0;
  color: var(--soft-snow);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size--36);
}

h2 {
  font-size: var(--font-size--30);
}

h3 {
  font-size: var(--font-size--20);
}

h4 {
  font-size: var(--font-size--20);
}

h5 {
  font-size: var(--font-size--20);
}

strong {
  font-weight: 700;
}

a {
  color: var(--link-color);

  &:hover,
  &:active,
  &:focus {
    color: var(--link-color);
  }
}

p {
  margin-bottom: var(--size--16);
}

textarea {
  width: 100%;
  font-size: var(--font-size--16);
}

input {
  font-size: var(--font-size--16);
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-self: center;
}

code {
  padding: var(--size--2) var(--size--8);
  background: var(--code-background);
  color: var(--light);
}

pre {
  padding: var(--size--24);
  border-radius: var(--radius);
  background-color: var(--dark);
  margin-bottom: var(--size--32);
  width: 100%;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 var(--size--16);
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--eggplant));
}

mark {
  background-color: var(--soft-lavender);
  color: var(--dark);
  padding: var(--size--2) var(--size--8);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.rbc-logo__heading {
  margin: 0;

  .rbc-logo__link {
    display: flex;
    padding: 0;
  }

  .rbc-logo__image {
    width: 256px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

:has(> table) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
  inline-size: 100%;
  font-size: var(--font-size--16);
  margin: var(--size--64) 0;
  width: 100%;

  & thead {
    border-block-end: 1px solid var(--eggplant);
    background-color: var(--dark);
  }

  & tbody tr {
    border-block-end: 1px solid var(--eggplant);
  }

  & th,
  & td {
    padding: 0.75rem var(--size--16);
    text-align: left;
    vertical-align: top;
  }

  & th {
    font-weight: 700;
    font-size: var(--font-size--18);
    white-space: nowrap;
  }
}
