:root {
  /* Base font size */
  --font-size-base: 16px;

  /* Mobile-first font scale (default) */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-24: 1.5rem; /* 24px */
  --font-size-30: 1.875rem; /* 30px */
  --font-size-36: 2.25rem; /* 36px */
  --font-size-48: 3rem; /* 48px */
  --font-size-60: 3.75rem; /* 60px */
  --font-size-72: 4.5rem; /* 72px */

  --radius: 1rem;
}
