:root {
  --size--2: 0.125rem;
  --size--4: 0.25rem;
  --size--8: 0.5rem;
  --size--12: 0.75rem;
  --size--16: 1rem;
  --size--20: 1.25rem;
  --size--24: 1.5rem;
  --size--32: 2rem;
  --size--40: 2.5rem;
  --size--48: 3rem;
  --size--64: 4rem;
  --size--80: 5rem;
  --size--96: 6rem;
  --size--128: 8rem;

  --font-size--12: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  --font-size--14: clamp(0.875rem, 0.825rem + 0.25vw, 1rem);
  --font-size--16: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
  --font-size--18: clamp(1.125rem, 1.05rem + 0.375vw, 1.25rem);
  --font-size--20: clamp(1.25rem, 1.1rem + 0.75vw, 1.5rem);
  --font-size--24: clamp(1.5rem, 1.3rem + 1vw, 2rem);
  --font-size--30: clamp(1.875rem, 1.6rem + 1.375vw, 2.5rem);
  --font-size--36: clamp(2.25rem, 1.9rem + 1.75vw, 3rem);
  --font-size--48: clamp(3rem, 2.4rem + 3vw, 4rem);
  --font-size--60: clamp(3.75rem, 3rem + 3.75vw, 5rem);
  --font-size--72: clamp(4.5rem, 3.6rem + 4.5vw, 6rem);

  --radius: var(--size--4);
}
