.rbc-index {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size--8);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    width: 100%;
    text-align: center;
  }

  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }

  ul li:first-child {
    margin-bottom: 0;
  }

  ul li:first-child img {
    width: 100%;
  }

  ul li:first-child .title {
    font-size: 1.563rem;
  }

  ul li img {
    margin-bottom: var(--size--8);
    border-radius: var(--radius);
  }

  ul li a {
    display: block;
  }

  .title {
    margin: 0;
    line-height: 1.5;
  }

  .date {
    margin: 0;
    color: #fff;
  }

  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }

  ul a:hover img {
    box-shadow: var(--box-shadow);
  }

  @media (min-width: 720px) {
    ul {
      gap: var(--size--32);
    }

    ul li {
      width: calc(50% - var(--size--16));
      text-align: unset;
    }

    ul li:first-child {
      width: 100%;
      margin-bottom: var(--size--16);
      text-align: center;
    }

    ul li:first-child .title {
      font-size: 2.369rem;
    }
  }
}
