.rbc-index {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size--16);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    width: 100%;
  }

  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }

  ul li img {
    width: 100%;
    margin-bottom: var(--size--8);
    border-radius: var(--radius);
  }

  ul li .rbc-card {
    display: flex;
    position: relative;
    background: var(--eggplant);
    min-height: 250px;
    align-items: center;
    border-radius: var(--radius);
    background-size: cover;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-position: bottom;
    }
  }

  .rbc-card__meta {
    text-align: left;
    padding: var(--size--32);
    color: var(--light);
    flex: 1;
  }

  .rbc-card__title {
    margin: 0 0 var(--size--32) 0;
    line-height: 1.5;
    font-size: var(--font-size--30);
    font-weight: 600;
  }

  .rbc-card__date {
    margin: 0 0 var(--size--12);
    color: var(--light);
    font-size: var(--fonts-size--20);
  }

  .rbc-card__tags {
    margin: 0;
    display: flex;
    gap: var(--size--8);
    justify-self: end;
  }

  .rbc-card__tag {
    display: flex;
    padding: var(--size--4) var(--size--12);
    background: var(--accent-dark);
    border-radius: 8px;
    font-size: var(--font-size--14);
    mix-blend-mode: color-dodge;
    font-weight: 700;
  }
}
