footer {
  padding: 2em var(--size--20) 6em var(--size--20);
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: var(--size--20);
  margin-top: var(--size--20);
}
