main {
  width: calc(100% - 2em);
  max-width: 100%;
  margin: 0;
}

.hero-image {
  width: 100%;
  margin-bottom: var(--size--20);
}

.hero-image img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.post-title {
  margin-bottom: var(--size--20);
  padding: var(--size--20) 0;
  text-align: center;
  line-height: 1.5;

  h1 {
    margin: 0 0 var(--size--80) 0;
    font-size: var(--font-size--36);
  }

  .date {
    margin-bottom: 0.5em;
  }

  .last-updated-on {
    font-style: italic;
  }
}

.prose {
  max-width: 960px;
  margin: auto;
  padding: var(--size--16);
}

.rbc-content__wrapper {
  h2 {
    margin-top: var(--size--64);
  }

  p {
    margin-bottom: var(--size--32);
    color: var(--body-copy);
  }

  ul {
    margin-bottom: var(--size--32);
  }

  li {
    margin-bottom: var(--size--12);
  }
}
